<%- include('../layout/header') %>
<%- include('../layout/sidebar') %>

<div class="content-body">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <!-- Header -->
                        <div class="row mb-3">
                            <div class="col-sm-8">
                                <h4 class="card-title">Users List</h4>
                            </div>
                            <div class="col-sm-4">
                                <form method="GET" action="/users_view">
                                    <input type="text" name="search" value="<%= search %>" placeholder="Search..."
                                        class="form-control">
                                </form>
                            </div>
                        </div>

                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">

                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Image</th>
                                        <th>Created</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% if (data.length > 0) { %>
                                        <% data.forEach(function(user, index) { %>
                                            <tr>

                                                <td>
                                                    <%= ((currentPage - 1) * limit) + index + 1 %>
                                                </td>

                                                <td><%= user.name %></td>
                                                <td><%= user.mobile || '-' %></td>
                                                <td><%= user.email %></td>

                                                <td>
                                                    <img src="<%= user.image || 'https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png' %>"
                                                         width="50" height="50"
                                                         style="border-radius:50%">
                                                </td>

                                                <td>
                                                    <%= user.created_at ? new Date(user.created_at).toLocaleString() : '-' %>
                                                </td>

                                            </tr>
                                        <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="6" class="text-center">No Data Found</td>
                                        </tr>
                                    <% } %>
                                </tbody>

                            </table>

                            <!-- Pagination -->
                            <div class="d-flex justify-content-center">

                                <% for(let i = 1; i <= totalPages; i++) { %>
                                    <a href="/users_view?page=<%= i %>&search=<%= search %>"
                                       class="btn btn-sm <%= currentPage === i ? 'btn-primary' : 'btn-light' %> m-1">
                                        <%= i %>
                                    </a>
                                <% } %>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('../layout/footer') %>